
                      {% extends 'baseM.html.twig' %}
    {% block body %}
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                            </thead>
                            <tbody>
                            {% for entity in conf   %}
                                <tr>
                                    <td><img width="200px" height="200px" src="{{ asset('uploads/images/'~ entity.image) }}" alt="Image not found"></td>
                                    <td>{{ entity.titreconference }}</td>
                                    <td><a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('web_viewUD',{'idconference':entity.idconference}) }}">View Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
    {% endblock %}