{% extends 'baseU.html.twig' %}
    {% block body %}
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                            </thead>
                            <tbody>
                            {% for entity in formations   %}
                                <tr>
                                    <td>{{ entity.formateurformation }}</td>
                                    <td><a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('FormationReadUU1',{'idformation':entity.idformation}) }}">View Details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
    {% endblock %}